<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964110836736-m4c77m2bnhmc1qdvep8gavjekr6ajh4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964110836736-m4c77m2bnhmc1qdvep8gavjekr6ajh4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964110836736-i2up3b4d76eajnq9e73aq3ddh7e7a275.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEr7KBmZtUK3fCLlF3EWV32jNXyaGAHPY</string>
	<key>GCM_SENDER_ID</key>
	<string>964110836736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekinaye</string>
	<key>PROJECT_ID</key>
	<string>mekinaye-3069b</string>
	<key>STORAGE_BUCKET</key>
	<string>mekinaye-3069b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964110836736:ios:125367e41095e72a7064e5</string>
</dict>
</plist>